
.vBoxButtons {
    -fx-background-color:  #0E172A;
    -fx-text-fill: #505664;
}
.vBoxButtons:focused{
    -fx-background-color: #0E172A;
    -fx-text-fill: #ffffff;
}
.vBoxButtons:hover{
    -fx-background-color: #0E172A;
    -fx-text-fill: #9EA3AE;
}
.vBoxButtons .text{
    -fx-font-family: "Segoe UI Semibold", sans-serif;
    -fx-font-size: 13;
}

.home_img{
    -fx-graphic: url(../Login_SignUp_Classes/home_outline.png);
}
.home_img:focused{
    -fx-graphic: url(../Login_SignUp_Classes/home.png);
}
.home_img:hover{
    -fx-graphic: url(../Login_SignUp_Classes/home_hover.png);
}

.analytics_img{
    -fx-graphic: url(../Login_SignUp_Classes/analytics_outline.png);
}
.analytics_img:focused{
    -fx-graphic: url(../Login_SignUp_Classes/analytics.png);
}
.analytics_img:hover{
    -fx-graphic: url(../Login_SignUp_Classes/analytics_hover.png);
}

.wallet_img{
    -fx-graphic: url(../Login_SignUp_Classes/wallet_outline.png);
}
.wallet_img:focused{
    -fx-graphic: url(../Login_SignUp_Classes/wallet.png);
}
.wallet_img:hover{
    -fx-graphic: url(../Login_SignUp_Classes/wallet_hover.png);
}

.profile_img{
    -fx-graphic: url(../Login_SignUp_Classes/profile_outline.png);
}
.profile_img:focused{
    -fx-graphic: url(../Login_SignUp_Classes/profile.png);
}
.profile_img:hover{
    -fx-graphic: url(../Login_SignUp_Classes/profile_hover.png);
}

.settings_img{
    -fx-graphic: url(../Login_SignUp_Classes/settings_outline.png);
}
.settings_img:focused{
    -fx-graphic: url(../Login_SignUp_Classes/settings.png);
}
.settings_img:hover{
    -fx-graphic: url(../Login_SignUp_Classes/settings_hover.png);
}

.activity_img{
    -fx-graphic: url(../Login_SignUp_Classes/activity_outline.png);
}
.activity_img:focused{
    -fx-graphic: url(../Login_SignUp_Classes/activity.png);
}
.activity_img:hover{
    -fx-graphic: url(../Login_SignUp_Classes/activity_hover.png);
}

